* {
  padding: 0px;
  margin: 0px;
}

form {
  width: 350px;
  padding: 0px;
  position: relative;
}

.main {
  border: 1px solid black;
  width: 340px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

div.alignleft{
  text-align: left;
  display: inline-block;;
  width: 150px;
}

form{
  position: relative;

}
form input, .info{
  width: 150px;
  display: inline-block;
  position: relative;
  right: 0px;
  margin: 5px 0px;
}

form input[type='textarea']{
  width: 300px;
  height: 50px;
  border: 1px solid black;
  display: block;
}

form input[type='text'], select{
  width: 150px;
  border: 1px solid black;
}

form input[type='submit']{
  display: inline-block;
  margin-left: 150px;
  margin-top: 30px;
}
